#team {
    background-color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
}

#team h2 {
    color: whitesmoke;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 50px;
    margin-top: 2rem;
    height: fit-content;
}
  
#team h2:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #620df6;
    margin: 20px auto;
}

p, h2,h3 {
  margin: 10px;
}

h3 {
  font-size: 1.2rem;
}

.overallHead h3 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.6rem;
}

#team a {
  color: transparent;
}

#heads {
  display: flex;
  justify-content: space-around;
}

#heads {
  flex-wrap: wrap;
}

.head, .overallHead{
  color: whitesmoke;
  width: 40%;
  min-width: 180px;
  max-width: 300px;
  margin: 50px 10px;
  padding: 20px;
  background: linear-gradient(0deg, rgb(153,105,254,0), rgb(153,105,254,0.08));
  border-radius: 5%;
}

.overallHead {
  margin: auto;
}

/* #team img {
  border-radius: 5%;
  min-width: 250px;
  width: 80%;
} */

.icons svg {
  margin: 15px 8px;
  color: rgb(149, 149, 149);
}

.hov1, .hov2 {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease 0.2s;
}

.head:hover .hov1, .overallHead:hover .hov1 {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s ease 0.1s;
}

.head:hover .hov2, .overallHead:hover .hov2 {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s ease 0.2s;
}

.i1, .i2 {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease 0.2s;
}

.head:hover .i1, .overallHead:hover .i1 {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s ease 0.6s;
}

.head:hover .i2, .overallHead:hover .i2 {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s ease 0.7s;
}

.head:hover .i1:hover,
.head:hover .i2:hover,
.overallHead:hover .i1:hover,
.overallHead:hover .i2:hover {
  color: white;
  transition: all 0.1s ease 0.1s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(148, 148, 148);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 650px) {
  #heads {
      flex-direction: column;
      align-items: center;
  }
  .head, .overallHead {
      width: 80%;
  }
  .head img {
      width: 80%;
      min-width: 230px;
  }
  .head:last-child {
      margin-bottom: 5rem;
  }
}

@media (pointer: none), (pointer: coarse){
  .hov1, .hov2, .i1, .i2 {
    transform: translateY(0px);
    opacity: 1;
    color: white;
  }
}